html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5B5B5B;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5E5E5E;
}

#wrapper {
    background: #ffffff url(../img/img05.jpg) repeat;
    max-width: 1300px;
    margin: auto;
}

#header {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Logo */

#logo {
    width: 30%;
}

#logo h1 {
    line-height: 120px;
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo h1 a {
    color: #1F1F1F;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

#logo p {
    margin: 0;
    letter-spacing: -1px;
    font: normal 18px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #8e8e8e;
}

#logo p a {
    color: #8e8e8e;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000000;
}

/* Menu */

#menu {
    width: 50%;
    margin: auto;
    clear: both;
}

#menu ul {
    margin: 0;
    padding: 20px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    padding: 1em 0;
}

#menu a {
    display: block;
    line-height: 100px;
    margin-right: 1px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #1F1F1F;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    text-decoration: none;
    color: #FFFFFF;
}

#menu .current_page_item a {
}

@media all and (min-width: 500px) {
    nav li {
        width: 49%;
        display: inline-block;
    }
}

@media all and (min-width: 700px) {
    nav li {
        width: calc(100% / 3);
        display: inline-block;
    }
}

@media all and (min-width: 900px) {
    nav li {
        width: calc(100% / 5);
        display: inline-block;
    }
}

#banner .content {
    margin: 0px auto;
    width: 100%;
    height: auto;
    background: url(../img/img03.png) no-repeat left bottom;
}

#banner img {
    width: 100%;
    height: auto;
}

/* Page */

#page {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

/* Content */

#content {
    padding: 5px;
}

.post + .post {
    margin-top: 1.5em;
}

.post {
    overflow: hidden;
    margin-bottom: 40px;
    border-bottom: 1px solid #e7ebed;
}

.post .title {
    padding-top: 7px;
    letter-spacing: -1px;
}

.post .title a {
    border: none;
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin-bottom: 30px;
    padding: 10px 0px 0px 0px;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .meta a {
}

.post .entry {
    padding: 0px 0px 40px 0px;
    text-align: justify;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
}

.more {
    display: block;
    float: left;
    width: 88px;
    padding: 5px 5px;
    margin-right: 10px;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.comments {
    display: block;
    float: left;
    width: 88px;
    padding: 5px 5px;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 900px) {
    #content {
        float: right;
        margin-left: 2em;
        width: calc(100% / 3 * 2);
    }
}

@media (min-width: 900px) {
    #sidebar {
        float: left;
        width: calc(100% / 3 - 2em);
    }
}

/* Sidebar */

#sidebar {
    margin: 0px;
    padding: 30px 0px 0px 0px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 40px;
    border-bottom: 1px solid #E7EBED;
    margin: 0px 0px;
    border-left: none;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar li li a {
    padding: 0px 0px 0px 20px;
    background: url(../img/img04.jpg) no-repeat left 50%;
}

#sidebar h2 {
    height: 38px;
    padding: 0px 0px 30px 0px;
    letter-spacing: -.5px;
    font-size: 1.8em;
    color: #222222;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 30px 20px 30px;
    text-align: justify;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Footer */

#footer {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 15px 0;
    font-family: 'Abel', sans-serif;
    display: table;
    background: url(../img/img01.jpg) repeat;
}

#footer p {
    margin: 0;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    background: url(../img/img01.jpg) repeat;
}
